<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-professor-heading" jhiTranslate="projetofinaljdltesteApp.professor.home.createOrEditLabel">Create or edit a Professor</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!professor.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="professor.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetofinaljdltesteApp.professor.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                        [(ngModel)]="professor.nome" />
                </div>

                <div class="form-group">
                    <label jhiTranslate="projetofinaljdltesteApp.professor.curso" for="field_curso">Curso</label>
                    <select class="form-control" id="field_curso" multiple name="curso" [(ngModel)]="professor.cursos">
                        <option [ngValue]="getSelected(professor.cursos, cursoOption)" *ngFor="let cursoOption of cursos; trackBy: trackCursoById">{{cursoOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
